absl-py==0.6.1
dataclasses==0.6
dateparser==0.7.0
dateutils==0.6.6
dill==0.2.8.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0
django-cors-headers==2.4.0
django-extensions==2.1.6
django-redis==4.10.0
django-redis-cache==1.8.1
django-rest-framework-mongoengine==3.3.1
django-secure==1.0.1
django-session-timeout==0.0.3
django-sslify==0.2.7
django-sslserver==0.20
django-toolbelt==0.0.1
djangorestframework==3.9.0
djongo==1.2.32
docutils==0.14
future==0.16.0
murmurhash==1.0.1
mysql-connector==2.2.9
mysqlclient==1.3.12
nltk==3.4.5
numpy==1.15.3
oauthlib==2.1.0
objectpath==0.6.1
pymongo==3.7.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.3.0
pyreadline==2.1
PySocks==1.6.8
regex==2018.1.10
requests==2.20.0
requests-oauthlib==1.0.0
s3transfer==0.1.13
virtualenv==16.5.0
virtualenvwrapper-win==1.2.5
zc.lockfile==1.4
